.wp-block-cgb-interactive-cardset {
     padding: 30px;
     text-align: left;
     background: #eee;
}

/* .wp-block.editor-block-list__block {
     padding: 30px;
     text-align: left;
} */

.wp-block-cgb-interactive-card {
     /* background: #eee;
     padding: 12px; */
}
