.clb-card-static {
     text-align: center;
     padding-bottom: 12px;
     border: 1px solid #ccc;
     background: #fff;
}

.wp-block-cgb-interactive-cards {
     // border: 1px solid #ccc;
}

img.card-static-image {
     filter: grayscale(75%);
     filter: opacity(50%);
}
