.clb-modal-card-area {
     text-align: center;
     margin-bottom: 30px;
}

/* ---- Basic Card ------ */

.clb-modal-card-area a:hover {
     text-decoration: none;
}

.clb-modal-card-area {
    box-shadow: 0 10px 40px rgba(0,0,0,.1);
    margin-bottom: 40px;
    transition: all ease-in-out .3s;
}

.clb-modal-card-area h4.modal-card-title-input {
     margin-top: 20px;
     padding-bottom: 14px;
}

.clb-modal-card-area:hover {
    transform: translate3d(0,-4px,0);
}
